body{
    width: 100%;
}
.Box1{
    float: left;
    border: 1px solid black;
    padding: 1em;
    width: 42.9%
}
.box2{
    float: left;
    padding: 1em;
    border: 1px solid black;
    margin: 0em;
    width: 50%
}
img{
    width: 20em;
    height: 25em;
    float: right;
}
header{
    float: top
}
.bigL{
    font-size: 4em
}
