 * {
    box-sizing: border-box;
}
body {
	max-width: 60em;
	 margin: 0 auto;
	 font-family: sans-serif;
}

footer p {
  text-align: center;
}

.gulur {
	display: flex;
	order: 1;
	background-color: yellow; 
}
.raudur {
	display: flex;
	order: 2;
	background-color: red; 
}
.graenn {
	display: flex;
	order: 3;
	background-color: lime;
}
.blar {
	display: flex;
	order: 4;
	background-color: cyan; 
}
.box {
	font-size: 1.2em;
	height: 5em;
	width: 14em;
}
.row{
	display: flex;
	flex-direction: row;
}
.col {
	display: flex;
	flex-direction: column
}