li{
    border: 2px dashed purple;
    margin: .2em;
    padding: .5em;
    width: 50em;
}
.inline{
    display: inline;
    border: 3px dashed black;
    margin: 1em;
    padding: 1em;
}
.inlineblock{
    border: 2px solid green;
    margin: 1em;
    padding: .1em;
    width: 50em
}
