body{
    margin: 1em auto;
    max-width: 60em;
    padding: 1em;
}

/*-- Grid Area --*/
.haus {
    grid-area: haus;
    text-align: center;
    border-left: solid 1px;
    border-right: solid 1px;
    border-top: solid 1px;
}
.allt {
    grid-area: allt;
}
.topnav{
    grid-area: topnav;
}
.foot{
    grid-area: foot;
}
/*--Dálkar í allt--*/
.as1{
    grid-area: as1;
    border-right: solid 1px;
    padding-right: 1em;
}
.as2{
    grid-area: as2;
    border-left: solid 1px;
    padding-left: 2em;
}
.art1{
    grid-area: art1;
}
/*-- grid template area--*/
.allt {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
        "topnav"
        "haus"
        "container"
        "foot"
}

/*-- innri tög í main --*/
.container {
    display:grid;
    grid-gap: 1em;
    grid-template-areas: 
       "as1 art1 as2";
    grid-template-columns: 1fr 3fr 1fr;
    border: solid 1px;
    padding-left: 1em;
    padding-right: 1em;
}
/*--flex box--*/
.topmenu, .footmenu{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding: 1em 0 0 0;
    margin: 0;
    padding:1em;
    background-color: steelblue;
}
.topmenu li, .topmenu li{
    list-style-type: none;
}